<?xml version="1.0"?>
<config>
	<modules>
		<PlugSis_SyncHubOrders>
			<version>0.0.1</version>
		</PlugSis_SyncHubOrders>
	</modules>
	<frontend>
        <routers>
            <synchuborders>
                <use>standard</use>
                <args>
                    <frontName>synchuborders</frontName>
                    <module>PlugSis_SyncHubOrders</module>
                </args>
            </synchuborders>
        </routers>
    </frontend>
</config>